<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Manage {{results.productName}}</title>
</head>
<body style="display:flex;justify-content: center;">
	<div style="width:400px; height: auto; border: 1px solid black;">
		<h3>Manage {{results.productName}}</h3>
		<form action="/manageproduct" method="post">
			<input type="number" name="inhand" hidden="" value="{{results.inventoryOnHand}}">
			<input type="text" name="id" value="{{results.id}}" hidden="">
			<span style="width: 100%">Number Received</span><br>
			<input style="width: 100%" type="number" name="received">
			<span style="width: 100%">New Product Price</span><br>
			<input style="width: 100%" type="number" value="{{results.price}}" placeholder="{{results.price}}" name="price">
			<span style="width: 100%">Supplier</span><br>
			<select style="width: 100%" name="supplier" >
			{%for supplier in suppliers%}
    		<option  value="{{supplier.id}}">{{supplier.supplier}}</option>
    		{%endfor%}
    		</select>
			<span style="width: 100%">Purchase Date</span><br>
			<input style="width: 100%" type="date" name="date">
			
			<hr>
			<input style="width: 100%" type="submit" name="submit" value="Submit Order">
		</form>
	</div>
</body>
</html>